<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjpowernode.dataservice.mapper.BidEntityMapper">
  <resultMap id="BaseResultMap" type="com.bjpowernode.entity.BidEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="prod_id" jdbcType="INTEGER" property="prodId" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="bid_money" jdbcType="DECIMAL" property="bidMoney" />
    <result column="bid_time" jdbcType="TIMESTAMP" property="bidTime" />
    <result column="bid_status" jdbcType="INTEGER" property="bidStatus" />
  </resultMap>

  <!--自定义Map-->
  <resultMap id="BidInfoMap" type="com.bjpowernode.model.BidInfo">
    <result column="bid_money" jdbcType="DECIMAL" property="bidMoney" />
    <result column="bid_time" jdbcType="TIMESTAMP" property="bidTime" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="bid_status" jdbcType="INTEGER" property="bidStatus" />
  </resultMap>

  <sql id="Base_Column_List">
    id, prod_id, uid, bid_money, bid_time, bid_status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from b_bid_info
    where id = #{id,jdbcType=INTEGER}
  </select>

  <!--累计成交金额-->
  <select id="selectSumBidMoney" resultType="java.math.BigDecimal">
        select sum(bid_money) as sumBidMoney
        from b_bid_info
  </select>

  <!--产品最近的3条投资记录-->
  <select id="selectBidsByProductId" resultMap="BidInfoMap">
    SELECT
        u.phone,
        bid.bid_money,
        bid.bid_time
    FROM
        b_bid_info bid
    INNER JOIN u_user u ON bid.uid = u.id
    WHERE
        bid.prod_id = #{productId}
    ORDER BY
        bid.id DESC
    LIMIT 0, 3
  </select>

  <!--某个用户的投资记录-->
  <select id="selectBidsByUserId" resultMap="BidInfoMap">
    SELECT
        product.product_name,
        bid.bid_money,
        bid.bid_time,
        bid.bid_status
    FROM
        b_bid_info bid
    LEFT JOIN b_product_info product ON bid.prod_id = product.id
    WHERE
        bid.uid = #{uid}
    ORDER BY
        bid_time DESC
    LIMIT #{offset}, #{rows};
  </select>

  <!--某个用户的投资记录总数-->
  <select id="selectBidsRecordNums" resultType="java.lang.Integer">
     select count(id) as ct from b_bid_info where uid=#{uid}
  </select>

  <!--某个产品的投资记录-->
  <select id="selectByProductId" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from b_bid_info
    where prod_id = #{productId}
    order by id
  </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from b_bid_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bjpowernode.entity.BidEntity">
    insert into b_bid_info ( prod_id, uid,
      bid_money, bid_time, bid_status
      )
    values ( #{prodId,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER},
      #{bidMoney,jdbcType=DECIMAL}, #{bidTime,jdbcType=TIMESTAMP}, #{bidStatus,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bjpowernode.entity.BidEntity">
    insert into b_bid_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="prodId != null">
        prod_id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="bidMoney != null">
        bid_money,
      </if>
      <if test="bidTime != null">
        bid_time,
      </if>
      <if test="bidStatus != null">
        bid_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="prodId != null">
        #{prodId,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="bidMoney != null">
        #{bidMoney,jdbcType=DECIMAL},
      </if>
      <if test="bidTime != null">
        #{bidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bidStatus != null">
        #{bidStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bjpowernode.entity.BidEntity">
    update b_bid_info
    <set>
      <if test="prodId != null">
        prod_id = #{prodId,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="bidMoney != null">
        bid_money = #{bidMoney,jdbcType=DECIMAL},
      </if>
      <if test="bidTime != null">
        bid_time = #{bidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bidStatus != null">
        bid_status = #{bidStatus,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bjpowernode.entity.BidEntity">
    update b_bid_info
    set prod_id = #{prodId,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      bid_money = #{bidMoney,jdbcType=DECIMAL},
      bid_time = #{bidTime,jdbcType=TIMESTAMP},
      bid_status = #{bidStatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>